CHATGPT_EMAIL = "123@example.com"
INDEED_EMAIL = "123@example.com"

LINKEDIN_EMAIL = "123@example.com"
CHATGPT_PASSWORD = 123456789
INDEED_PASSWORD = 123456789
LINKEDIN_PASSWORD = 123456789


LIBREOFFICE_PATH = "/Applications/LibreOffice.app/Contents/MacOS/soffice"
CHATGPT_API_KEY = ""